#notifier-tray {
    --blue: #4b7ce6;
    --green: #8acd6d;
    --yellow: #ffd147;
    --red: #ff5b57;
    --timer-bg: #ffffff80;

    --margin: 25px;
    --top-offset: 0px;
    --width: 300px;

    overflow: visible;
    right: var(--margin);
    top: calc(var(--top-offset) + var(--margin));
    position: fixed;
    width: var(--width);
    height: fit-content;

    .notification {
        font-family: roboto, sans-serif;
        font-weight: 400;
        font-style: normal;
        border-radius: 0.3em;
        display: block;
        height: fit-content;
        background: var(--blue);
        z-index: 20;
        left: calc(100% + var(--margin));
        transition: left 0.25s;
        transition-timing-function: ease-in-out;
        overflow: hidden;
        padding: 0.4em 0em;
        position: relative;
        margin-bottom: 1em;

        &.info {
            background: var(--blue);
        }
        &.success {
            background: var(--green);
        }
        &.warning {
            background: var(--yellow);
        }
        &.error {
            background: var(--red);
        }

        &.show {
            left: 0;
            transition-timing-function: cubic-bezier(0.75, 1.48, 0.68, 0.96);

            .timer {
                animation: timer 5s linear;

                @keyframes timer {
                    from {
                        width: 0%;
                    }
                    to {
                        width: 100%;
                    }
                }
            }
        }

        .content {
            display: flex;
            justify-content: space-between;
            padding: 0.4em;

            p {
                padding-left: 0.2em;
            }
            .del {
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                background: transparent;
                cursor: pointer;
                box-shadow: none;

                &:hover img {
                    filter: brightness(0.65);
                }
            }
        }

        .timer {
            bottom: 0%;
            height: 7px;
            position: absolute;
            width: 0%;
            background: var(--timer-bg);
        }
    }
}
